.Main
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.MainWrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ViewPart
{
    flex:2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
}
.StatesPart
{
    flex:1;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.setLocation
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top , #000000 , #000957);
}
.LocationFormContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border:1px solid gray;
    border-radius: 15px;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.form h1 
{
    margin: 0;
    color:orange;
}