.Main
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.MainWrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ViewPart
{
    flex:2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
}
.StatesPart
{
    flex:1;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.setLocation
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top , #4689a9 , #fffbde);
}
.LocationFormContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border:2px solid black;
    border-radius: 15px;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.setLocationTitle
{
    font-size: 50px;
    margin: 0;
    color:#222222;
}
.setLocationInput
{
    background:none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    width: 250px;
    color:purple;
    font-size: 25px;
}
.setLocationButton
{
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    background-color: orange;
    border-radius: 15px;
    border: none;
}