.StatsMain
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.StatsWrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SearchContainer
{
    position: absolute;
    top:25px;
    right: 25px;
}
.SearchBtn
{
    padding: 15px;
    outline: none;
    background-color: orange;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.StatsContainer
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}
.StatsHeader
{
    width:100%;
    text-align: center;
}
.StatsTitle
{
    font-size: 55px;
    color: lightblue;
}
.hr
{
    width: 90%;
}
.StatsData
{
    width: 100%;
}
.WeatherData
{
    list-style: none;
    font-size: 25px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: lightgray;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.WeatherData li 
{
    display: block;
    width: 30%;
}
.ItemData
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ItemData h2 
{
    font-size: 20px;
    color: gray;
}
.ItemData span 
{
    color:orange;
}

/*Responsive*/
/*Mobile*/
@media (max-width:738px)
{
    .StatsTitle
    {
        font-size: 25px !important;
    }
    .WeatherData
    {
        font-size: 15px !important;
        padding: 0 !important;
    }
    .ItemData h2 
    {
        font-size: 13px !important;
    }
    .SearchContainer
    {
        top:15px !important;
        right: 10px !important;
    }
    .SearchBtn
    {
        padding: 10px !important;
        font-size: 15px !important;
    }
}

/*Tablet*/
@media (max-width:1024px)
{
    /*Stats*/
    .StatsTitle
    {
        font-size: 25px;
    }
    .StatsData
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .WeatherData
    {
        font-size: 15px;
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
        
    }
    .ItemData h2 
    {
        font-size: 12px;
    }
    /*SearchBtn*/
    .SearchContainer
    {
        top:15px;
        right: 10px;
    }
    .SearchBtn
    {
        padding: 10px;
        font-size: 15px;
    }
}