.StatsMain
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.StatsWrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SearchContainer
{
    position: absolute;
    top:25px;
    right: 25px;
}
.SearchBtn
{
    padding: 15px;
    outline: none;
    background-color: orange;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.StatsContainer
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}
.StatsHeader
{
    width:100%;
    text-align: center;
}
.StatsTitle
{
    font-size: 55px;
    color: lightblue;
}
.hr
{
    width: 90%;
}
.StatsData
{
    width: 100%;
    padding: 25px 20px;
}
.WeatherData
{
    list-style: none;
    font-size: 30px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: lightgray;
}