.ViewMain
{
    width: 100%;
    height: 100%;
}
.ViewWrapper
{
    width: 100%;
    height: 100%;
}
.ViewContainer
{
    width: 100%;
    height: 100%;
}
.WeatherEffectContainer
{
    width: 100%;
    height: 100%;
    z-index: 998;
    position: relative;
}
.ViewTitleContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
}
.ViewTitleInnerContainer
{
    display: flex;
    flex-direction: column;
}
.ViewTitle
{
    margin: 0;
    z-index: 999;
    color:#222222;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ViewTitleTempMinMax
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
    color:#1A3636;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Responsive*/
/*Mobile*/
@media (max-width:738px)
{
    /*ViewTitle*/
    .ViewTitle
    {
        font-size: 25px;
    }
}